In [2]:
import pandas as pd
import numpy as np
import re
import unicodedata

In [3]:

file1="C:\\Users\\Vedaditya\\Desktop\\Demand Forecasting\\Monthly Coal data\\monthCoal1-2024-Jan.xls"
file2="C:\\Users\\Vedaditya\\Desktop\\Demand Forecasting\\Monthly Coal data\\monthCoal1-2024-Feb.xls"
file3="C:\\Users\\Vedaditya\\Desktop\\Demand Forecasting\\Monthly Coal data\\monthCoal1-2024-Mar.xls"
file4="C:\\Users\\Vedaditya\\Desktop\\Demand Forecasting\\Monthly Coal data\\monthCoal1-2024-May.xls"
file5="C:\\Users\\Vedaditya\\Desktop\\Demand Forecasting\\Monthly Coal data\\monthCoal1-2024-Jun.xls"
file6="C:\\Users\\Vedaditya\\Desktop\\Demand Forecasting\\Monthly Coal data\\monthCoal1-2024-Jul.xls"
file7="C:\\Users\\Vedaditya\\Desktop\\Demand Forecasting\\Monthly Coal data\\monthCoal1-2024-Sep.xls" 
file8="C:\\Users\\Vedaditya\\Desktop\\Demand Forecasting\\Monthly Coal data\\monthCoal1-2024-Oct.xls" 
file9="C:\\Users\\Vedaditya\\Desktop\\Demand Forecasting\\Monthly Coal data\\monthCoal1-2024-Nov.xls" 
file10="C:\\Users\\Vedaditya\\Desktop\\Demand Forecasting\\Monthly Coal data\\monthCoal1-2024-Dec.xls"
file11="C:\\Users\\Vedaditya\\Desktop\\Demand Forecasting\\Monthly Coal data\\monthCoal1-2025-Jan.xls"
file12="C:\\Users\\Vedaditya\\Desktop\\Demand Forecasting\\Monthly Coal data\\monthCoal1-2025-Feb.xls"
file13="C:\\Users\\Vedaditya\\Desktop\\Demand Forecasting\\Monthly Coal data\\monthCoal1-2025-Mar.xls"
file14="C:\\Users\\Vedaditya\\Desktop\\Demand Forecasting\\Monthly Coal data\\monthCoal1-2025-Apr.xls"
file15="C:\\Users\\Vedaditya\\Desktop\\Demand Forecasting\\Monthly Coal data\\monthCoal1-2025-May.xls"
file16="C:\\Users\\Vedaditya\\Desktop\\Demand Forecasting\\Monthly Coal data\\monthCoal1-2025-Jun.xls"
file17="C:\\Users\\Vedaditya\\Desktop\\Demand Forecasting\\Monthly Coal data\\monthCoal1-2025-Jul.xls"
file18="C:\\Users\\Vedaditya\\Desktop\\Demand Forecasting\\Monthly Coal data\\monthCoal1-2025-Aug.xls"
file19="C:\\Users\\Vedaditya\\Desktop\\Demand Forecasting\\Monthly Coal data\\monthCoal1-2025-Sep.xls"
file20="C:\\Users\\Vedaditya\\Desktop\\Demand Forecasting\\Monthly Coal data\\monthCoal1-2025-Oct.xls"
file21="C:\\Users\\Vedaditya\\Desktop\\Demand Forecasting\\Monthly Coal data\\monthCoal1-2023-Apr.xls"
file22="C:\\Users\\Vedaditya\\Desktop\\Demand Forecasting\\Monthly Coal data\\monthCoal1-2023-May.xls"
file23="C:\\Users\\Vedaditya\\Desktop\\Demand Forecasting\\Monthly Coal data\\monthCoal1-2023-Jun.xls"
file24="C:\\Users\\Vedaditya\\Desktop\\Demand Forecasting\\Monthly Coal data\\monthCoal1-2023-Jul.xls"
file25="C:\\Users\\Vedaditya\\Desktop\\Demand Forecasting\\Monthly Coal data\\monthCoal1-2023-Aug.xls"
file26="C:\\Users\\Vedaditya\\Desktop\\Demand Forecasting\\Monthly Coal data\\monthCoal1-2023-Sep.xls"
file27="C:\\Users\\Vedaditya\\Desktop\\Demand Forecasting\\Monthly Coal data\\monthCoal1-2023-Oct.xls"
file28="C:\\Users\\Vedaditya\\Desktop\\Demand Forecasting\\Monthly Coal data\\monthCoal1-2023-Nov.xls"
file29="C:\\Users\\Vedaditya\\Desktop\\Demand Forecasting\\Monthly Coal data\\monthCoal1-2023-Dec.xls"
df1= pd.read_excel(file1)
df2= pd.read_excel(file2)
df3= pd.read_excel(file3)
df4= pd.read_excel(file4)
df5= pd.read_excel(file5)
df6= pd.read_excel(file6)
df7= pd.read_excel(file7)
df8= pd.read_excel(file8)
df9= pd.read_excel(file9)
df10= pd.read_excel(file10)
df11= pd.read_excel(file11)
df12= pd.read_excel(file12)
df13= pd.read_excel(file13)
df14= pd.read_excel(file14)
df15= pd.read_excel(file15)
df16= pd.read_excel(file16)
df17= pd.read_excel(file17)
df18= pd.read_excel(file18)
df19= pd.read_excel(file19)
df20= pd.read_excel(file20)
df21= pd.read_excel(file21)
df22= pd.read_excel(file22)
df23= pd.read_excel(file23)
df24= pd.read_excel(file24)
df25= pd.read_excel(file25)
df26= pd.read_excel(file26)
df27= pd.read_excel(file27)
df28= pd.read_excel(file28)
df29= pd.read_excel(file29)

In [4]:
df1.head(5)
df2.head(5)
df3.head(5)
df4.head(5)
df5.head(5)
df6.head(5)
df7.head(5)
df8.head(5)
df9.head(5)
df10.head(5)
df11.head(5)
df12.head(5)
df13.head(5)
df14.head(5)
df15.head(5)
df16.head(5)
df17.head(5)
df18.head(5)
df19.head(5)
df20.head(5)
df21.head(5)
df22.head(5)
df23.head(5)
df24.head(5)
df25.head(5)
df26.head(5)
df27.head(5)
df28.head(5)
df29.head(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,QUANTITY (IN '000 Tonnes'),Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
0,FUEL MANAGEMENT DIVISION,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,MONTHLY COAL REPORT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,(MONTHLY COAL STATEMENT OF THERMAL POWER STATI...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Name of\nTPS,NaN,Installed Capacity\n(MW),Monthly\nAllocation\nfrom\nCIL/SCCL\n,NaN,Opening\nStocks,NaN,RECEIPT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Consumption,NaN,NaN,Closing\nStocks,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CIL,NaN,SCCL,...,Total,NaN,NaN,% Receipt\nw.r.t.\nAlloted\nCoal\n,NaN,Domestic,Imported,Total\nConsumption,NaN,NaN
5,1,NaN,2,3,NaN,4,NaN,5,NaN,6,...,11,NaN,NaN,12,NaN,13,14,15,16,NaN
6,Northern,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,ADANI POWER LIMITED KAWAI TPP,1320.0,NaN,343.169983,NaN,229.7,NaN,390.112,NaN,0,...,NaN,NaN,114.833179,NaN,346.911,NaN,117.272,464.183,NaN,159.59
8,ANPARA C TPS,1200.0,NaN,348.5,NaN,278,NaN,332.9,NaN,0,...,NaN,NaN,95.523673,NaN,224.130,NaN,0,224.13,NaN,386.76
9,ANPARA TPS,2630.0,NaN,988.669983,NaN,435.27,NaN,1052.628,NaN,0,...,NaN,NaN,106.469097,NaN,744.777,NaN,0,744.777,NaN,743.12

In [5]:
df1= df1.drop(index=0).reset_index(drop=True)
df1= df1.drop(index=1).reset_index(drop=True)
df1= df1.drop(index=2).reset_index(drop=True)
df2= df2.drop(index=0).reset_index(drop=True)
df2= df2.drop(index=1).reset_index(drop=True)
df2= df2.drop(index=2).reset_index(drop=True)
df3= df3.drop(index=0).reset_index(drop=True)
df3= df3.drop(index=1).reset_index(drop=True)
df3= df3.drop(index=2).reset_index(drop=True)
df4= df4.drop(index=0).reset_index(drop=True)
df4= df4.drop(index=1).reset_index(drop=True)
df4= df4.drop(index=2).reset_index(drop=True)
df5= df5.drop(index=0).reset_index(drop=True)
df5= df5.drop(index=1).reset_index(drop=True)
df5= df5.drop(index=2).reset_index(drop=True)
df6= df6.drop(index=0).reset_index(drop=True)
df6= df6.drop(index=1).reset_index(drop=True)
df6= df6.drop(index=2).reset_index(drop=True)
df7= df7.drop(index=0).reset_index(drop=True)
df7= df7.drop(index=1).reset_index(drop=True)
df7= df7.drop(index=2).reset_index(drop=True)
df8= df8.drop(index=0).reset_index(drop=True)
df8= df8.drop(index=1).reset_index(drop=True)
df8= df8.drop(index=2).reset_index(drop=True)
df9= df9.drop(index=0).reset_index(drop=True)
df9= df9.drop(index=1).reset_index(drop=True)
df9= df9.drop(index=2).reset_index(drop=True)
df10= df10.drop(index=0).reset_index(drop=True)
df10= df10.drop(index=1).reset_index(drop=True)
df10= df10.drop(index=2).reset_index(drop=True)
df11= df11.drop(index=0).reset_index(drop=True)
df11= df11.drop(index=1).reset_index(drop=True)
df11= df11.drop(index=2).reset_index(drop=True)
df12= df12.drop(index=0).reset_index(drop=True)
df12= df12.drop(index=1).reset_index(drop=True)
df12= df12.drop(index=2).reset_index(drop=True)
df13= df13.drop(index=0).reset_index(drop=True)
df13= df13.drop(index=1).reset_index(drop=True)
df13= df13.drop(index=2).reset_index(drop=True)
df14= df14.drop(index=0).reset_index(drop=True)
df14= df14.drop(index=1).reset_index(drop=True)
df14= df14.drop(index=2).reset_index(drop=True)
df15= df15.drop(index=0).reset_index(drop=True)
df15= df15.drop(index=1).reset_index(drop=True)
df15= df15.drop(index=2).reset_index(drop=True)
df16= df16.drop(index=0).reset_index(drop=True)
df16= df16.drop(index=1).reset_index(drop=True)
df16= df16.drop(index=2).reset_index(drop=True)
df17= df17.drop(index=0).reset_index(drop=True)
df17= df17.drop(index=1).reset_index(drop=True)
df17= df17.drop(index=2).reset_index(drop=True)
df18= df18.drop(index=0).reset_index(drop=True)
df18= df18.drop(index=1).reset_index(drop=True)
df18= df18.drop(index=2).reset_index(drop=True)
df19= df19.drop(index=0).reset_index(drop=True)
df19= df19.drop(index=1).reset_index(drop=True)
df19= df19.drop(index=2).reset_index(drop=True)
df20= df20.drop(index=0).reset_index(drop=True)
df20= df20.drop(index=1).reset_index(drop=True)
df20= df20.drop(index=2).reset_index(drop=True)
df21= df21.drop(index=0).reset_index(drop=True)
df21= df21.drop(index=1).reset_index(drop=True)
df21= df21.drop(index=2).reset_index(drop=True)
df22= df22.drop(index=0).reset_index(drop=True)
df22= df22.drop(index=1).reset_index(drop=True)
df22= df22.drop(index=2).reset_index(drop=True)
df23= df23.drop(index=0).reset_index(drop=True)
df23= df23.drop(index=1).reset_index(drop=True)
df23= df23.drop(index=2).reset_index(drop=True)
df24= df24.drop(index=0).reset_index(drop=True)
df24= df24.drop(index=1).reset_index(drop=True)
df24= df24.drop(index=2).reset_index(drop=True)
df25= df25.drop(index=0).reset_index(drop=True)
df25= df25.drop(index=1).reset_index(drop=True)
df25= df25.drop(index=2).reset_index(drop=True)
df26= df26.drop(index=0).reset_index(drop=True)
df26= df26.drop(index=1).reset_index(drop=True)
df26= df26.drop(index=2).reset_index(drop=True)
df27= df27.drop(index=0).reset_index(drop=True)
df27= df27.drop(index=1).reset_index(drop=True)
df27= df27.drop(index=2).reset_index(drop=True)
df28= df28.drop(index=0).reset_index(drop=True)
df28= df28.drop(index=1).reset_index(drop=True)
df28= df28.drop(index=2).reset_index(drop=True)
df29= df29.drop(index=0).reset_index(drop=True)
df29= df29.drop(index=1).reset_index(drop=True)
df29= df29.drop(index=2).reset_index(drop=True)

In [6]:
df1.head()
df2.head()
df3.head()
df4.head()
df5.head()
df6.head()
df7.head()
df8.head()
df9.head()
df10.head()
df11.head()
df12.head()
df13.head()
df14.head()
df15.head()
df16.head()
df17.head()
df18.head()
df19.head()
df20.head()
df21.head()
df22.head()
df23.head()
df24.head()
df25.head()
df26.head()
df27.head()
df28.head()
df29.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,QUANTITY (IN '000 Tonnes'),Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
0,MONTHLY COAL REPORT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Name of\nTPS,NaN,Installed Capacity\n(MW),Monthly\nAllocation\nfrom\nCIL/SCCL\n,NaN,Opening\nStocks,NaN,RECEIPT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Consumption,NaN,NaN,Closing\nStocks,NaN
2,1,NaN,2,3,NaN,4,NaN,5,NaN,6,...,11,NaN,NaN,12,NaN,13,14,15,16,NaN
3,Northern,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ADANI POWER LIMITED KAWAI TPP,1320.0,NaN,343.169983,NaN,229.7,NaN,390.112,NaN,0,...,NaN,NaN,114.833179,NaN,346.911,NaN,117.272,464.183,NaN,159.59

In [7]:
df1= df1.drop(index=0).reset_index(drop=True)
df2= df2.drop(index=0).reset_index(drop=True)
df3= df3.drop(index=0).reset_index(drop=True)
df4= df4.drop(index=0).reset_index(drop=True)
df5= df5.drop(index=0).reset_index(drop=True)
df6= df6.drop(index=0).reset_index(drop=True)
df7= df7.drop(index=0).reset_index(drop=True)
df8= df8.drop(index=0).reset_index(drop=True)
df9= df9.drop(index=0).reset_index(drop=True)
df10= df10.drop(index=0).reset_index(drop=True)
df11= df11.drop(index=0).reset_index(drop=True)
df12= df12.drop(index=0).reset_index(drop=True)
df13= df13.drop(index=0).reset_index(drop=True)
df14= df14.drop(index=0).reset_index(drop=True)
df15= df15.drop(index=0).reset_index(drop=True)
df16= df16.drop(index=0).reset_index(drop=True)
df17= df17.drop(index=0).reset_index(drop=True)
df18= df18.drop(index=0).reset_index(drop=True)
df19= df19.drop(index=0).reset_index(drop=True)
df20= df20.drop(index=0).reset_index(drop=True)
df21= df21.drop(index=0).reset_index(drop=True)
df22= df22.drop(index=0).reset_index(drop=True)
df23= df23.drop(index=0).reset_index(drop=True)
df24= df24.drop(index=0).reset_index(drop=True)
df25= df25.drop(index=0).reset_index(drop=True)
df26= df26.drop(index=0).reset_index(drop=True)
df27= df27.drop(index=0).reset_index(drop=True)
df28= df28.drop(index=0).reset_index(drop=True)
df29= df29.drop(index=0).reset_index(drop=True)

## STRUCTURE OF 2023 DATASET IS DIFFERENT FROM 2024-2025 DATASETS SO CLEANING SEPERATELY

In [32]:
## DATASETS OF 2024-2025

df1.head()
df2.head()
df3.head()
df4.head()
df5.head()
df6.head()
df7.head()
df8.head()
df9.head()
df10.head()
df11.head()
df12.head()
df13.head()
df14.head()
df15.head()
df16.head()
df17.head()
df18.head()
df19.head()
df20.head()

,Name of TPS,Installed Capacity (MW),CIL,SSCL,Captive,E-Auction,Import,Others,Total,Total Consumption,Closing Stocks
0,1,NaN,3,4,5,NaN,NaN,NaN,NaN,NaN,NaN
1,Northern,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ADANI POWER LIMITED KAWAI TPP,1320.0,223.724,0,0,0.0,40.291,0.0,264.015,289.996,404.81
3,ANPARA C TPS,1200.0,408.974,0,0,0.0,0.000,0.0,408.974,399.960,97.35
4,ANPARA TPS,2630.0,1057.407,0,0,0.0,0.000,0.0,1057.407,1162.723,359.51

In [10]:
df1.drop(['Unnamed: 1','Unnamed: 4','Unnamed: 6','Unnamed: 9','Unnamed: 16',"QUANTITY (IN '000 Tonnes')",'Unnamed: 19','Unnamed: 22','Unnamed: 24'], axis=1, inplace=True)
df2.drop(['Unnamed: 1','Unnamed: 4','Unnamed: 6','Unnamed: 9','Unnamed: 16',"QUANTITY (IN '000 Tonnes')",'Unnamed: 19','Unnamed: 22','Unnamed: 24'], axis=1, inplace=True)
df3.drop(['Unnamed: 1','Unnamed: 4','Unnamed: 6','Unnamed: 9','Unnamed: 16',"QUANTITY (IN '000 Tonnes')",'Unnamed: 19','Unnamed: 22','Unnamed: 24'], axis=1, inplace=True)
df4.drop(['Unnamed: 1','Unnamed: 4','Unnamed: 6','Unnamed: 9','Unnamed: 16',"QUANTITY (IN '000 Tonnes')",'Unnamed: 19','Unnamed: 22','Unnamed: 24'], axis=1, inplace=True)
df5.drop(['Unnamed: 1','Unnamed: 4','Unnamed: 6','Unnamed: 9','Unnamed: 16',"QUANTITY (IN '000 Tonnes')",'Unnamed: 19','Unnamed: 22','Unnamed: 24'], axis=1, inplace=True)
df6.drop(['Unnamed: 1','Unnamed: 4','Unnamed: 6','Unnamed: 9','Unnamed: 16',"QUANTITY (IN '000 Tonnes')",'Unnamed: 19','Unnamed: 22','Unnamed: 24'], axis=1, inplace=True)
df7.drop(['Unnamed: 1','Unnamed: 4','Unnamed: 6','Unnamed: 9','Unnamed: 16',"QUANTITY (IN '000 Tonnes')",'Unnamed: 19','Unnamed: 22','Unnamed: 24'], axis=1, inplace=True)
df8.drop(['Unnamed: 1','Unnamed: 4','Unnamed: 6','Unnamed: 9','Unnamed: 16',"QUANTITY (IN '000 Tonnes')",'Unnamed: 19','Unnamed: 22','Unnamed: 24'], axis=1, inplace=True)
df9.drop(['Unnamed: 1','Unnamed: 4','Unnamed: 6','Unnamed: 9','Unnamed: 16',"QUANTITY (IN '000 Tonnes')",'Unnamed: 19','Unnamed: 22','Unnamed: 24'], axis=1, inplace=True)
df10.drop(['Unnamed: 1','Unnamed: 4','Unnamed: 6','Unnamed: 9','Unnamed: 16',"QUANTITY (IN '000 Tonnes')",'Unnamed: 19','Unnamed: 22','Unnamed: 24'], axis=1, inplace=True)
df11.drop(['Unnamed: 1','Unnamed: 4','Unnamed: 6','Unnamed: 9','Unnamed: 16',"QUANTITY (IN '000 Tonnes')",'Unnamed: 19','Unnamed: 22','Unnamed: 24'], axis=1, inplace=True)
df12.drop(['Unnamed: 1','Unnamed: 4','Unnamed: 6','Unnamed: 9','Unnamed: 16',"QUANTITY (IN '000 Tonnes')",'Unnamed: 19','Unnamed: 22','Unnamed: 24'], axis=1, inplace=True)
df13.drop(['Unnamed: 1','Unnamed: 4','Unnamed: 6','Unnamed: 9','Unnamed: 16',"QUANTITY (IN '000 Tonnes')",'Unnamed: 19','Unnamed: 22','Unnamed: 24'], axis=1, inplace=True)
df14.drop(['Unnamed: 1','Unnamed: 4','Unnamed: 6','Unnamed: 9','Unnamed: 16',"QUANTITY (IN '000 Tonnes')",'Unnamed: 19','Unnamed: 22','Unnamed: 24'], axis=1, inplace=True)
df15.drop(['Unnamed: 1','Unnamed: 4','Unnamed: 6','Unnamed: 9','Unnamed: 16',"QUANTITY (IN '000 Tonnes')",'Unnamed: 19','Unnamed: 22','Unnamed: 24'], axis=1, inplace=True)
df16.drop(['Unnamed: 1','Unnamed: 4','Unnamed: 6','Unnamed: 9','Unnamed: 16',"QUANTITY (IN '000 Tonnes')",'Unnamed: 19','Unnamed: 22','Unnamed: 24'], axis=1, inplace=True)
df17.drop(['Unnamed: 1','Unnamed: 4','Unnamed: 6','Unnamed: 9','Unnamed: 16',"QUANTITY (IN '000 Tonnes')",'Unnamed: 19','Unnamed: 22','Unnamed: 24'], axis=1, inplace=True)
df18.drop(['Unnamed: 1','Unnamed: 4','Unnamed: 6','Unnamed: 9','Unnamed: 16',"QUANTITY (IN '000 Tonnes')",'Unnamed: 19','Unnamed: 22','Unnamed: 24'], axis=1, inplace=True)
df19.drop(['Unnamed: 1','Unnamed: 4','Unnamed: 6','Unnamed: 9','Unnamed: 16',"QUANTITY (IN '000 Tonnes')",'Unnamed: 19','Unnamed: 22','Unnamed: 24'], axis=1, inplace=True)
df20.drop(['Unnamed: 1','Unnamed: 4','Unnamed: 6','Unnamed: 9','Unnamed: 16',"QUANTITY (IN '000 Tonnes')",'Unnamed: 19','Unnamed: 22','Unnamed: 24'], axis=1, inplace=True)

In [33]:
df1.head()

,Name of TPS,Installed Capacity (MW),CIL,SSCL,Captive,E-Auction,Import,Others,Total,Total Consumption,Closing Stocks,Month,Year
0,1,NaN,3,4,5,NaN,NaN,NaN,NaN,NaN,NaN,4,2024
1,Northern,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,2024
2,ADANI POWER LIMITED KAWAI TPP,1320.0,329.554,0,0,0.0,106.213,0.0,435.767,506.225,89.13,4,2024
3,ANPARA C TPS,1200.0,324.7,0,0,0.0,0.000,0.0,324.700,348.840,362.62,4,2024
4,ANPARA TPS,2630.0,1041.233,0,0,0.0,0.000,0.0,1041.233,908.531,875.82,4,2024

In [12]:
df1.drop(['Unnamed: 3','Unnamed: 11','Unnamed: 13','Unnamed: 14','Unnamed: 21'], axis=1, inplace=True)
df2.drop(['Unnamed: 3','Unnamed: 11','Unnamed: 13','Unnamed: 14','Unnamed: 21'], axis=1, inplace=True)
df3.drop(['Unnamed: 3','Unnamed: 11','Unnamed: 13','Unnamed: 14','Unnamed: 21'], axis=1, inplace=True)
df4.drop(['Unnamed: 3','Unnamed: 11','Unnamed: 13','Unnamed: 14','Unnamed: 21'], axis=1, inplace=True)
df5.drop(['Unnamed: 3','Unnamed: 11','Unnamed: 13','Unnamed: 14','Unnamed: 21'], axis=1, inplace=True)
df6.drop(['Unnamed: 3','Unnamed: 11','Unnamed: 13','Unnamed: 14','Unnamed: 21'], axis=1, inplace=True)
df7.drop(['Unnamed: 3','Unnamed: 11','Unnamed: 13','Unnamed: 14','Unnamed: 21'], axis=1, inplace=True)
df8.drop(['Unnamed: 3','Unnamed: 11','Unnamed: 13','Unnamed: 14','Unnamed: 21'], axis=1, inplace=True)
df9.drop(['Unnamed: 3','Unnamed: 11','Unnamed: 13','Unnamed: 14','Unnamed: 21'], axis=1, inplace=True)
df10.drop(['Unnamed: 3','Unnamed: 11','Unnamed: 13','Unnamed: 14','Unnamed: 21'], axis=1, inplace=True)
df11.drop(['Unnamed: 3','Unnamed: 11','Unnamed: 13','Unnamed: 14','Unnamed: 21'], axis=1, inplace=True)
df12.drop(['Unnamed: 3','Unnamed: 11','Unnamed: 13','Unnamed: 14','Unnamed: 21'], axis=1, inplace=True)
df13.drop(['Unnamed: 3','Unnamed: 11','Unnamed: 13','Unnamed: 14','Unnamed: 21'], axis=1, inplace=True)
df14.drop(['Unnamed: 3','Unnamed: 11','Unnamed: 13','Unnamed: 14','Unnamed: 21'], axis=1, inplace=True)
df15.drop(['Unnamed: 3','Unnamed: 11','Unnamed: 13','Unnamed: 14','Unnamed: 21'], axis=1, inplace=True)
df16.drop(['Unnamed: 3','Unnamed: 11','Unnamed: 13','Unnamed: 14','Unnamed: 21'], axis=1, inplace=True)
df17.drop(['Unnamed: 3','Unnamed: 11','Unnamed: 13','Unnamed: 14','Unnamed: 21'], axis=1, inplace=True)
df18.drop(['Unnamed: 3','Unnamed: 11','Unnamed: 13','Unnamed: 14','Unnamed: 21'], axis=1, inplace=True)
df19.drop(['Unnamed: 3','Unnamed: 11','Unnamed: 13','Unnamed: 14','Unnamed: 21'], axis=1, inplace=True)
df20.drop(['Unnamed: 3','Unnamed: 11','Unnamed: 13','Unnamed: 14','Unnamed: 21'], axis=1, inplace=True)

In [13]:
df1.head()

,Unnamed: 0,Unnamed: 2,Unnamed: 5,Unnamed: 7,Unnamed: 8,Unnamed: 10,Unnamed: 12,Unnamed: 15,Unnamed: 18,Unnamed: 20,Unnamed: 23
0,Name of\nTPS,NaN,RECEIPT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,NaN,3,4,5,NaN,NaN,NaN,NaN,NaN,NaN
2,Northern,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ADANI POWER LIMITED KAWAI TPP,1320.0,329.554,0,0,0.0,106.213,0.0,435.767,506.225,89.13
4,ANPARA C TPS,1200.0,324.7,0,0,0.0,0.000,0.0,324.700,348.840,362.62

In [14]:
df1 = df1.rename(columns={"Unnamed: 2": "Installed Capacity (MW)"})
df1 = df1.rename(columns={"Unnamed: 5": "CIL"})
df1 = df1.rename(columns={"Unnamed: 7": "SSCL"})
df1 = df1.rename(columns={"Unnamed: 8": "Captive"})
df1 = df1.rename(columns={"Unnamed: 18": "Total"})
df1 = df1.rename(columns={"Unnamed: 20": "Total Consumption"})
df1 = df1.rename(columns={"Unnamed: 23": "Closing Stocks"})
df2 = df2.rename(columns={"Unnamed: 2": "Installed Capacity (MW)"})
df2 = df2.rename(columns={"Unnamed: 5": "CIL"})
df2 = df2.rename(columns={"Unnamed: 7": "SSCL"})
df2 = df2.rename(columns={"Unnamed: 8": "Captive"})
df2 = df2.rename(columns={"Unnamed: 18": "Total"})
df2 = df2.rename(columns={"Unnamed: 20": "Total Consumption"})
df2 = df2.rename(columns={"Unnamed: 23": "Closing Stocks"})
df3 = df3.rename(columns={"Unnamed: 2": "Installed Capacity (MW)"})
df3 = df3.rename(columns={"Unnamed: 5": "CIL"})
df3 = df3.rename(columns={"Unnamed: 7": "SSCL"})
df3 = df3.rename(columns={"Unnamed: 8": "Captive"})
df3 = df3.rename(columns={"Unnamed: 18": "Total"})
df3 = df3.rename(columns={"Unnamed: 20": "Total Consumption"})
df3 = df3.rename(columns={"Unnamed: 23": "Closing Stocks"})
df4 = df4.rename(columns={"Unnamed: 2": "Installed Capacity (MW)"})
df4 = df4.rename(columns={"Unnamed: 5": "CIL"})
df4 = df4.rename(columns={"Unnamed: 7": "SSCL"})
df4 = df4.rename(columns={"Unnamed: 8": "Captive"})
df4 = df4.rename(columns={"Unnamed: 18": "Total"})
df4 = df4.rename(columns={"Unnamed: 20": "Total Consumption"})
df4 = df4.rename(columns={"Unnamed: 23": "Closing Stocks"})
df5 = df5.rename(columns={"Unnamed: 2": "Installed Capacity (MW)"})
df5 = df5.rename(columns={"Unnamed: 5": "CIL"})
df5 = df5.rename(columns={"Unnamed: 7": "SSCL"})
df5 = df5.rename(columns={"Unnamed: 8": "Captive"})
df5 = df5.rename(columns={"Unnamed: 18": "Total"})
df5 = df5.rename(columns={"Unnamed: 20": "Total Consumption"})
df5 = df5.rename(columns={"Unnamed: 23": "Closing Stocks"})
df6 = df6.rename(columns={"Unnamed: 2": "Installed Capacity (MW)"})
df6 = df6.rename(columns={"Unnamed: 5": "CIL"})
df6 = df6.rename(columns={"Unnamed: 7": "SSCL"})
df6 = df6.rename(columns={"Unnamed: 8": "Captive"})
df6 = df6.rename(columns={"Unnamed: 18": "Total"})
df6 = df6.rename(columns={"Unnamed: 20": "Total Consumption"})
df6 = df6.rename(columns={"Unnamed: 23": "Closing Stocks"})
df7 = df7.rename(columns={"Unnamed: 2": "Installed Capacity (MW)"})
df7 = df7.rename(columns={"Unnamed: 5": "CIL"})
df7 = df7.rename(columns={"Unnamed: 7": "SSCL"})
df7 = df7.rename(columns={"Unnamed: 8": "Captive"})
df7 = df7.rename(columns={"Unnamed: 18": "Total"})
df7 = df7.rename(columns={"Unnamed: 20": "Total Consumption"})
df7 = df7.rename(columns={"Unnamed: 23": "Closing Stocks"})
df8 = df8.rename(columns={"Unnamed: 2": "Installed Capacity (MW)"})
df8 = df8.rename(columns={"Unnamed: 5": "CIL"})
df8 = df8.rename(columns={"Unnamed: 7": "SSCL"})
df8 = df8.rename(columns={"Unnamed: 8": "Captive"})
df8 = df8.rename(columns={"Unnamed: 18": "Total"})
df8 = df8.rename(columns={"Unnamed: 20": "Total Consumption"})
df8 = df8.rename(columns={"Unnamed: 23": "Closing Stocks"})
df9 = df9.rename(columns={"Unnamed: 2": "Installed Capacity (MW)"})
df9 = df9.rename(columns={"Unnamed: 5": "CIL"})
df9 = df9.rename(columns={"Unnamed: 7": "SSCL"})
df9 = df9.rename(columns={"Unnamed: 8": "Captive"})
df9 = df9.rename(columns={"Unnamed: 18": "Total"})
df9 = df9.rename(columns={"Unnamed: 20": "Total Consumption"})
df9 = df9.rename(columns={"Unnamed: 23": "Closing Stocks"})
df10 = df10.rename(columns={"Unnamed: 2": "Installed Capacity (MW)"})
df10 = df10.rename(columns={"Unnamed: 5": "CIL"})
df10 = df10.rename(columns={"Unnamed: 7": "SSCL"})
df10 = df10.rename(columns={"Unnamed: 8": "Captive"})
df10 = df10.rename(columns={"Unnamed: 18": "Total"})
df10 = df10.rename(columns={"Unnamed: 20": "Total Consumption"})
df10 = df10.rename(columns={"Unnamed: 23": "Closing Stocks"})
df11 = df11.rename(columns={"Unnamed: 2": "Installed Capacity (MW)"})
df11 = df11.rename(columns={"Unnamed: 5": "CIL"})
df11 = df11.rename(columns={"Unnamed: 7": "SSCL"})
df11 = df11.rename(columns={"Unnamed: 8": "Captive"})
df11 = df11.rename(columns={"Unnamed: 18": "Total"})
df11 = df11.rename(columns={"Unnamed: 20": "Total Consumption"})
df11 = df11.rename(columns={"Unnamed: 23": "Closing Stocks"})
df12 = df12.rename(columns={"Unnamed: 2": "Installed Capacity (MW)"})
df12 = df12.rename(columns={"Unnamed: 5": "CIL"})
df12 = df12.rename(columns={"Unnamed: 7": "SSCL"})
df12 = df12.rename(columns={"Unnamed: 8": "Captive"})
df12 = df12.rename(columns={"Unnamed: 18": "Total"})
df12 = df12.rename(columns={"Unnamed: 20": "Total Consumption"})
df12 = df12.rename(columns={"Unnamed: 23": "Closing Stocks"})
df13 = df13.rename(columns={"Unnamed: 2": "Installed Capacity (MW)"})
df13 = df13.rename(columns={"Unnamed: 5": "CIL"})
df13 = df13.rename(columns={"Unnamed: 7": "SSCL"})
df13 = df13.rename(columns={"Unnamed: 8": "Captive"})
df13 = df13.rename(columns={"Unnamed: 18": "Total"})
df13 = df13.rename(columns={"Unnamed: 20": "Total Consumption"})
df13 = df13.rename(columns={"Unnamed: 23": "Closing Stocks"})
df14 = df14.rename(columns={"Unnamed: 2": "Installed Capacity (MW)"})
df14 = df14.rename(columns={"Unnamed: 5": "CIL"})
df14 = df14.rename(columns={"Unnamed: 7": "SSCL"})
df14 = df14.rename(columns={"Unnamed: 8": "Captive"})
df14 = df14.rename(columns={"Unnamed: 18": "Total"})
df14 = df14.rename(columns={"Unnamed: 20": "Total Consumption"})
df14 = df14.rename(columns={"Unnamed: 23": "Closing Stocks"})
df15 = df15.rename(columns={"Unnamed: 2": "Installed Capacity (MW)"})
df15 = df15.rename(columns={"Unnamed: 5": "CIL"})
df15 = df15.rename(columns={"Unnamed: 7": "SSCL"})
df15 = df15.rename(columns={"Unnamed: 8": "Captive"})
df15 = df15.rename(columns={"Unnamed: 18": "Total"})
df15 = df15.rename(columns={"Unnamed: 20": "Total Consumption"})
df15 = df15.rename(columns={"Unnamed: 23": "Closing Stocks"})
df16 = df16.rename(columns={"Unnamed: 2": "Installed Capacity (MW)"})
df16 = df16.rename(columns={"Unnamed: 5": "CIL"})
df16 = df16.rename(columns={"Unnamed: 7": "SSCL"})
df16 = df16.rename(columns={"Unnamed: 8": "Captive"})
df16 = df16.rename(columns={"Unnamed: 18": "Total"})
df16 = df16.rename(columns={"Unnamed: 20": "Total Consumption"})
df16 = df16.rename(columns={"Unnamed: 23": "Closing Stocks"})
df17 = df17.rename(columns={"Unnamed: 2": "Installed Capacity (MW)"})
df17 = df17.rename(columns={"Unnamed: 5": "CIL"})
df17 = df17.rename(columns={"Unnamed: 7": "SSCL"})
df17 = df17.rename(columns={"Unnamed: 8": "Captive"})
df17 = df17.rename(columns={"Unnamed: 18": "Total"})
df17 = df17.rename(columns={"Unnamed: 20": "Total Consumption"})
df17 = df17.rename(columns={"Unnamed: 23": "Closing Stocks"})
df18 = df18.rename(columns={"Unnamed: 2": "Installed Capacity (MW)"})
df18 = df18.rename(columns={"Unnamed: 5": "CIL"})
df18 = df18.rename(columns={"Unnamed: 7": "SSCL"})
df18 = df18.rename(columns={"Unnamed: 8": "Captive"})
df18 = df18.rename(columns={"Unnamed: 18": "Total"})
df18 = df18.rename(columns={"Unnamed: 20": "Total Consumption"})
df18 = df18.rename(columns={"Unnamed: 23": "Closing Stocks"})
df19 = df19.rename(columns={"Unnamed: 2": "Installed Capacity (MW)"})
df19 = df19.rename(columns={"Unnamed: 5": "CIL"})
df19 = df19.rename(columns={"Unnamed: 7": "SSCL"})
df19 = df19.rename(columns={"Unnamed: 8": "Captive"})
df19 = df19.rename(columns={"Unnamed: 18": "Total"})
df19 = df19.rename(columns={"Unnamed: 20": "Total Consumption"})
df19 = df19.rename(columns={"Unnamed: 23": "Closing Stocks"})
df20 = df20.rename(columns={"Unnamed: 2": "Installed Capacity (MW)"})
df20 = df20.rename(columns={"Unnamed: 5": "CIL"})
df20 = df20.rename(columns={"Unnamed: 7": "SSCL"})
df20 = df20.rename(columns={"Unnamed: 8": "Captive"})
df20 = df20.rename(columns={"Unnamed: 18": "Total"})
df20 = df20.rename(columns={"Unnamed: 20": "Total Consumption"})
df20 = df20.rename(columns={"Unnamed: 23": "Closing Stocks"})

In [34]:
df1.head()

,Name of TPS,Installed Capacity (MW),CIL,SSCL,Captive,E-Auction,Import,Others,Total,Total Consumption,Closing Stocks,Month,Year
0,1,NaN,3,4,5,NaN,NaN,NaN,NaN,NaN,NaN,4,2024
1,Northern,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,2024
2,ADANI POWER LIMITED KAWAI TPP,1320.0,329.554,0,0,0.0,106.213,0.0,435.767,506.225,89.13,4,2024
3,ANPARA C TPS,1200.0,324.7,0,0,0.0,0.000,0.0,324.700,348.840,362.62,4,2024
4,ANPARA TPS,2630.0,1041.233,0,0,0.0,0.000,0.0,1041.233,908.531,875.82,4,2024

In [16]:
df1 = df1.rename(columns={"Unnamed: 0": "Name of TPS"})
df1 = df1.rename(columns={"Unnamed: 10": "E-Auction"})
df1 = df1.rename(columns={"Unnamed: 12": "Import"})
df1 = df1.rename(columns={"Unnamed: 15": "Others"})
df2 = df2.rename(columns={"Unnamed: 0": "Name of TPS"})
df2 = df2.rename(columns={"Unnamed: 10": "E-Auction"})
df2 = df2.rename(columns={"Unnamed: 12": "Import"})
df2 = df2.rename(columns={"Unnamed: 15": "Others"})
df3 = df3.rename(columns={"Unnamed: 0": "Name of TPS"})
df3 = df3.rename(columns={"Unnamed: 10": "E-Auction"})
df3 = df3.rename(columns={"Unnamed: 12": "Import"})
df3 = df3.rename(columns={"Unnamed: 15": "Others"})
df4 = df4.rename(columns={"Unnamed: 0": "Name of TPS"})
df4 = df4.rename(columns={"Unnamed: 10": "E-Auction"})
df4 = df4.rename(columns={"Unnamed: 12": "Import"})
df4 = df4.rename(columns={"Unnamed: 15": "Others"})
df5 = df5.rename(columns={"Unnamed: 0": "Name of TPS"})
df5 = df5.rename(columns={"Unnamed: 10": "E-Auction"})
df5 = df5.rename(columns={"Unnamed: 12": "Import"})
df5 = df5.rename(columns={"Unnamed: 15": "Others"})
df6 = df6.rename(columns={"Unnamed: 0": "Name of TPS"})
df6 = df6.rename(columns={"Unnamed: 10": "E-Auction"})
df6 = df6.rename(columns={"Unnamed: 12": "Import"})
df6 = df6.rename(columns={"Unnamed: 15": "Others"})
df7 = df7.rename(columns={"Unnamed: 0": "Name of TPS"})
df7 = df7.rename(columns={"Unnamed: 10": "E-Auction"})
df7 = df7.rename(columns={"Unnamed: 12": "Import"})
df7 = df7.rename(columns={"Unnamed: 15": "Others"})
df8 = df8.rename(columns={"Unnamed: 0": "Name of TPS"})
df8 = df8.rename(columns={"Unnamed: 10": "E-Auction"})
df8 = df8.rename(columns={"Unnamed: 12": "Import"})
df8 = df8.rename(columns={"Unnamed: 15": "Others"})
df9 = df9.rename(columns={"Unnamed: 0": "Name of TPS"})
df9 = df9.rename(columns={"Unnamed: 10": "E-Auction"})
df9 = df9.rename(columns={"Unnamed: 12": "Import"})
df9 = df9.rename(columns={"Unnamed: 15": "Others"})
df10 = df10.rename(columns={"Unnamed: 0": "Name of TPS"})
df10 = df10.rename(columns={"Unnamed: 10": "E-Auction"})
df10 = df10.rename(columns={"Unnamed: 12": "Import"})
df10 = df10.rename(columns={"Unnamed: 15": "Others"})
df11 = df11.rename(columns={"Unnamed: 0": "Name of TPS"})
df11 = df11.rename(columns={"Unnamed: 10": "E-Auction"})
df11 = df11.rename(columns={"Unnamed: 12": "Import"})
df11 = df11.rename(columns={"Unnamed: 15": "Others"})
df12 = df12.rename(columns={"Unnamed: 0": "Name of TPS"})
df12 = df12.rename(columns={"Unnamed: 10": "E-Auction"})
df12 = df12.rename(columns={"Unnamed: 12": "Import"})
df12 = df12.rename(columns={"Unnamed: 15": "Others"})
df13 = df13.rename(columns={"Unnamed: 0": "Name of TPS"})
df13 = df13.rename(columns={"Unnamed: 10": "E-Auction"})
df13 = df13.rename(columns={"Unnamed: 12": "Import"})
df13 = df13.rename(columns={"Unnamed: 15": "Others"})
df14 = df14.rename(columns={"Unnamed: 0": "Name of TPS"})
df14 = df14.rename(columns={"Unnamed: 10": "E-Auction"})
df14 = df14.rename(columns={"Unnamed: 12": "Import"})
df14 = df14.rename(columns={"Unnamed: 15": "Others"})
df15 = df15.rename(columns={"Unnamed: 0": "Name of TPS"})
df15 = df15.rename(columns={"Unnamed: 10": "E-Auction"})
df15 = df15.rename(columns={"Unnamed: 12": "Import"})
df15 = df15.rename(columns={"Unnamed: 15": "Others"})
df16 = df16.rename(columns={"Unnamed: 0": "Name of TPS"})
df16 = df16.rename(columns={"Unnamed: 10": "E-Auction"})
df16 = df16.rename(columns={"Unnamed: 12": "Import"})
df16 = df16.rename(columns={"Unnamed: 15": "Others"})
df17 = df17.rename(columns={"Unnamed: 0": "Name of TPS"})
df17 = df17.rename(columns={"Unnamed: 10": "E-Auction"})
df17 = df17.rename(columns={"Unnamed: 12": "Import"})
df17 = df17.rename(columns={"Unnamed: 15": "Others"})
df18 = df18.rename(columns={"Unnamed: 0": "Name of TPS"})
df18 = df18.rename(columns={"Unnamed: 10": "E-Auction"})
df18 = df18.rename(columns={"Unnamed: 12": "Import"})
df18 = df18.rename(columns={"Unnamed: 15": "Others"})
df19 = df19.rename(columns={"Unnamed: 0": "Name of TPS"})
df19 = df19.rename(columns={"Unnamed: 10": "E-Auction"})
df19 = df19.rename(columns={"Unnamed: 12": "Import"})
df19 = df19.rename(columns={"Unnamed: 15": "Others"})
df20 = df20.rename(columns={"Unnamed: 0": "Name of TPS"})
df20 = df20.rename(columns={"Unnamed: 10": "E-Auction"})
df20 = df20.rename(columns={"Unnamed: 12": "Import"})
df20 = df20.rename(columns={"Unnamed: 15": "Others"})

In [35]:
df1.head()

,Name of TPS,Installed Capacity (MW),CIL,SSCL,Captive,E-Auction,Import,Others,Total,Total Consumption,Closing Stocks,Month,Year
0,1,NaN,3,4,5,NaN,NaN,NaN,NaN,NaN,NaN,4,2024
1,Northern,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,2024
2,ADANI POWER LIMITED KAWAI TPP,1320.0,329.554,0,0,0.0,106.213,0.0,435.767,506.225,89.13,4,2024
3,ANPARA C TPS,1200.0,324.7,0,0,0.0,0.000,0.0,324.700,348.840,362.62,4,2024
4,ANPARA TPS,2630.0,1041.233,0,0,0.0,0.000,0.0,1041.233,908.531,875.82,4,2024

In [36]:
df1= df1.drop(index=0).reset_index(drop=True)
df2= df2.drop(index=0).reset_index(drop=True)
df3= df3.drop(index=0).reset_index(drop=True)
df4= df4.drop(index=0).reset_index(drop=True)
df5= df5.drop(index=0).reset_index(drop=True)
df6= df6.drop(index=0).reset_index(drop=True)
df7= df7.drop(index=0).reset_index(drop=True)
df8= df8.drop(index=0).reset_index(drop=True)
df9= df9.drop(index=0).reset_index(drop=True)
df10= df10.drop(index=0).reset_index(drop=True)
df11= df11.drop(index=0).reset_index(drop=True)
df12= df12.drop(index=0).reset_index(drop=True)
df13= df13.drop(index=0).reset_index(drop=True)
df14= df14.drop(index=0).reset_index(drop=True)
df15= df15.drop(index=0).reset_index(drop=True)
df16= df16.drop(index=0).reset_index(drop=True)
df17= df17.drop(index=0).reset_index(drop=True)
df18= df18.drop(index=0).reset_index(drop=True)
df19= df19.drop(index=0).reset_index(drop=True)
df20= df20.drop(index=0).reset_index(drop=True)

In [37]:
df1.head()

,Name of TPS,Installed Capacity (MW),CIL,SSCL,Captive,E-Auction,Import,Others,Total,Total Consumption,Closing Stocks,Month,Year
0,Northern,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,2024
1,ADANI POWER LIMITED KAWAI TPP,1320.0,329.554,0,0,0.0,106.213,0.0,435.767,506.225,89.13,4,2024
2,ANPARA C TPS,1200.0,324.7,0,0,0.0,0.000,0.0,324.700,348.840,362.62,4,2024
3,ANPARA TPS,2630.0,1041.233,0,0,0.0,0.000,0.0,1041.233,908.531,875.82,4,2024
4,BARKHERA TPS,90.0,38.64,0,0,0.0,0.000,0.0,38.640,30.930,31.26,4,2024

In [20]:
df1 = df1[df1["Name of TPS"].notna()]
df1 = df1[df1["Name of TPS"].astype(str).str.strip() != ""]
df2 = df2[df2["Name of TPS"].notna()]
df2 = df2[df2["Name of TPS"].astype(str).str.strip() != ""]
df3 = df3[df3["Name of TPS"].notna()]
df3 = df3[df3["Name of TPS"].astype(str).str.strip() != ""]
df4 = df4[df4["Name of TPS"].notna()]
df4 = df4[df4["Name of TPS"].astype(str).str.strip() != ""]
df5 = df5[df5["Name of TPS"].notna()]
df5 = df5[df5["Name of TPS"].astype(str).str.strip() != ""]
df6 = df6[df6["Name of TPS"].notna()]
df6 = df6[df6["Name of TPS"].astype(str).str.strip() != ""]
df7 = df7[df7["Name of TPS"].notna()]
df7 = df7[df7["Name of TPS"].astype(str).str.strip() != ""]
df8 = df8[df8["Name of TPS"].notna()]
df8 = df8[df8["Name of TPS"].astype(str).str.strip() != ""]
df9 = df9[df9["Name of TPS"].notna()]
df9 = df9[df9["Name of TPS"].astype(str).str.strip() != ""]
df10 = df10[df10["Name of TPS"].notna()]
df10 = df10[df10["Name of TPS"].astype(str).str.strip() != ""]
df11 = df11[df11["Name of TPS"].notna()]
df11 = df11[df11["Name of TPS"].astype(str).str.strip() != ""]
df12 = df12[df12["Name of TPS"].notna()]
df12 = df12[df12["Name of TPS"].astype(str).str.strip() != ""]
df13 = df13[df13["Name of TPS"].notna()]
df13 = df13[df13["Name of TPS"].astype(str).str.strip() != ""]
df14 = df14[df14["Name of TPS"].notna()]
df14 = df14[df14["Name of TPS"].astype(str).str.strip() != ""]
df15 = df15[df15["Name of TPS"].notna()]
df15 = df15[df15["Name of TPS"].astype(str).str.strip() != ""]
df16 = df16[df16["Name of TPS"].notna()]
df16 = df16[df16["Name of TPS"].astype(str).str.strip() != ""]
df17 = df17[df17["Name of TPS"].notna()]
df17 = df17[df17["Name of TPS"].astype(str).str.strip() != ""]
df18 = df18[df18["Name of TPS"].notna()]
df18 = df18[df18["Name of TPS"].astype(str).str.strip() != ""]
df19 = df19[df19["Name of TPS"].notna()]
df19 = df19[df19["Name of TPS"].astype(str).str.strip() != ""]
df20 = df20[df20["Name of TPS"].notna()]
df20 = df20[df20["Name of TPS"].astype(str).str.strip() != ""]

In [43]:
df11.head()

,Name of TPS,Installed Capacity (MW),CIL,SSCL,Captive,E-Auction,Import,Others,Total,Total Consumption,Closing Stocks,Month,Year
0,Northern,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2025
1,ADANI POWER LIMITED KAWAI TPP,1320.0,379.554,0,0,0.0,4.148,0.0,383.70200,435.672,234.76,1,2025
2,ANPARA C TPS,1200.0,441.46832,0,0,0.0,0.000,0.0,441.46832,360.047,320.58,1,2025
3,ANPARA TPS,2630.0,769.481,0,0,0.0,0.000,0.0,769.48100,715.308,930.30,1,2025
4,BARKHERA TPS,90.0,27.94,0,0,0.0,0.000,0.0,27.94000,34.820,38.36,1,2025

In [41]:
df2.insert(11, "Month", 2)   
df2.insert(12, "Year", 2024)
df3.insert(11, "Month", 3)   
df3.insert(12, "Year", 2024)
df4.insert(11, "Month", 5)   
df4.insert(12, "Year", 2024)
df5.insert(11, "Month", 6)   
df5.insert(12, "Year", 2024)
df6.insert(11, "Month", 7)   
df6.insert(12, "Year", 2024)
df7.insert(11, "Month", 9)   
df7.insert(12, "Year", 2024)
df8.insert(11, "Month", 10)   
df8.insert(12, "Year", 2024)
df9.insert(11, "Month", 11)   
df9.insert(12, "Year", 2024)
df10.insert(11, "Month", 12)   
df10.insert(12, "Year", 2024)
df11.insert(11, "Month", 1)   
df11.insert(12, "Year", 2025)
df12.insert(11, "Month", 2)   
df12.insert(12, "Year", 2025)
df13.insert(11, "Month", 3)   
df13.insert(12, "Year", 2025)
df14.insert(11, "Month", 4) 
df14.insert(12, "Year", 2025)
df15.insert(11, "Month", 5)   
df15.insert(12, "Year", 2025)
df16.insert(11, "Month", 6)   
df16.insert(12, "Year", 2025)
df17.insert(11, "Month", 7)   
df17.insert(12, "Year", 2025)
df18.insert(11, "Month", 8)   
df18.insert(12, "Year", 2025)
df19.insert(11, "Month", 9)   
df19.insert(12, "Year", 2025)
df20.insert(11, "Month", 10)   
df20.insert(12, "Year", 2025)

In [44]:
df1 = df1[
    df1["Total Consumption"].notna() &
    (df1["Total Consumption"] != 0)
].reset_index(drop=True)
df2 = df2[
    df2["Total Consumption"].notna() &
    (df2["Total Consumption"] != 0)
].reset_index(drop=True)
df3 = df3[
    df3["Total Consumption"].notna() &
    (df3["Total Consumption"] != 0)
].reset_index(drop=True)
df4 = df4[
    df4["Total Consumption"].notna() &
    (df4["Total Consumption"] != 0)
].reset_index(drop=True)
df5 = df5[
    df5["Total Consumption"].notna() &
    (df5["Total Consumption"] != 0)
].reset_index(drop=True)
df6 = df6[
    df6["Total Consumption"].notna() &
    (df6["Total Consumption"] != 0)
].reset_index(drop=True)
df7 = df7[
    df7["Total Consumption"].notna() &
    (df7["Total Consumption"] != 0)
].reset_index(drop=True)
df8 = df8[
    df8["Total Consumption"].notna() &
    (df8["Total Consumption"] != 0)
].reset_index(drop=True)
df9 = df9[
    df9["Total Consumption"].notna() &
    (df9["Total Consumption"] != 0)
].reset_index(drop=True)
df10 = df10[
    df10["Total Consumption"].notna() &
    (df10["Total Consumption"] != 0)
].reset_index(drop=True)
df11 = df11[
    df11["Total Consumption"].notna() &
    (df11["Total Consumption"] != 0)
].reset_index(drop=True)
df12 = df12[
    df12["Total Consumption"].notna() &
    (df12["Total Consumption"] != 0)
].reset_index(drop=True)
df13 = df13[
    df13["Total Consumption"].notna() &
    (df13["Total Consumption"] != 0)
].reset_index(drop=True)
df14 = df14[
    df14["Total Consumption"].notna() &
    (df14["Total Consumption"] != 0)
].reset_index(drop=True)
df15 = df15[
    df15["Total Consumption"].notna() &
    (df15["Total Consumption"] != 0)
].reset_index(drop=True)
df16 = df16[
    df16["Total Consumption"].notna() &
    (df16["Total Consumption"] != 0)
].reset_index(drop=True)
df17 = df17[
    df17["Total Consumption"].notna() &
    (df17["Total Consumption"] != 0)
].reset_index(drop=True)
df18 = df18[
    df18["Total Consumption"].notna() &
    (df18["Total Consumption"] != 0)
].reset_index(drop=True)
df19 = df19[
    df19["Total Consumption"].notna() &
    (df19["Total Consumption"] != 0)
].reset_index(drop=True)
df20 = df20[
    df20["Total Consumption"].notna() &
    (df20["Total Consumption"] != 0)
].reset_index(drop=True)

In [46]:
df20.head()

,Name of TPS,Installed Capacity (MW),CIL,SSCL,Captive,E-Auction,Import,Others,Total,Total Consumption,Closing Stocks,Month,Year
0,ADANI POWER LIMITED KAWAI TPP,1320.0,223.724,0,0,0.0,40.291,0.0,264.01500,289.9960,404.810,10,2025
1,ANPARA C TPS,1200.0,408.974,0,0,0.0,0.000,0.0,408.97400,399.9600,97.350,10,2025
2,ANPARA TPS,2630.0,1057.407,0,0,0.0,0.000,0.0,1057.40700,1162.7230,359.510,10,2025
3,BARKHERA TPS,90.0,20.104,0,0,0.0,0.000,0.0,20.10400,11.5170,53.000,10,2025
4,CHHABRA-II TPP,1320.0,0,0,398.13375,0.0,0.000,0.0,398.13375,244.5829,597.803,10,2025

In [48]:
dff = [df1, df2, df3, df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15,df16,df17,df18,df19,df20]

In [49]:
[len(df.columns) for df in dff]

[13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13]

In [50]:
all(list(df.columns) == list(dff[0].columns) for df in dff)

True

In [ ]:
df_final2 = pd.concat(dff, ignore_index=True)

In [53]:

df_final2 = df_final2[
    ~df_final2["Name of TPS"].astype(str).str.match(r"^total", case=False, na=False)
].reset_index(drop=True)

In [66]:

df_temp = pd.read_csv("monthly_coal_combined.csv")

df_combined = pd.concat([df_final2,df_temp], ignore_index=True)

df_combined.to_csv("final_monthly_coal_combined.csv", index=False)

In [55]:
df_final2.to_csv(
    "monthlycoal_Combined.csv",
    index=False,
    encoding="utf-8"
)

In [58]:
## DATASETS OF 2023

df21.head()
df22.head()
df23.head()
df24.head()
df25.head()
df26.head()
df27.head()
df28.head()
df29.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,QUANTITY (IN '000 Tonnes'),Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
0,Name of\nTPS,NaN,Installed Capacity\n(MW),Monthly\nAllocation\nfrom\nCIL/SCCL\n,NaN,Opening\nStocks,NaN,RECEIPT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Consumption,NaN,NaN,Closing\nStocks,NaN
1,1,NaN,2,3,NaN,4,NaN,5,NaN,6,...,11,NaN,NaN,12,NaN,13,14,15,16,NaN
2,Northern,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ADANI POWER LIMITED KAWAI TPP,1320.0,NaN,343.169983,NaN,229.7,NaN,390.112,NaN,0,...,NaN,NaN,114.833179,NaN,346.911,NaN,117.272,464.183,NaN,159.59
4,ANPARA C TPS,1200.0,NaN,348.5,NaN,278,NaN,332.9,NaN,0,...,NaN,NaN,95.523673,NaN,224.130,NaN,0,224.13,NaN,386.76

In [57]:

df21.columns = df21.columns.str.replace("\n", " ", regex=False)
df21.columns = df21.columns.str.strip()
df22.columns = df22.columns.str.replace("\n", " ", regex=False)
df22.columns = df22.columns.str.strip()
df23.columns = df23.columns.str.replace("\n", " ", regex=False)
df23.columns = df23.columns.str.strip()
df24.columns = df24.columns.str.replace("\n", " ", regex=False)
df24.columns = df24.columns.str.strip()
df25.columns = df25.columns.str.replace("\n", " ", regex=False)
df25.columns = df25.columns.str.strip()
df26.columns = df26.columns.str.replace("\n", " ", regex=False)
df26.columns = df26.columns.str.strip()
df27.columns = df27.columns.str.replace("\n", " ", regex=False)
df27.columns = df27.columns.str.strip()
df28.columns = df28.columns.str.replace("\n", " ", regex=False)
df28.columns = df28.columns.str.strip()
df29.columns = df29.columns.str.replace("\n", " ", regex=False)
df29.columns = df29.columns.str.strip()

In [65]:
df21.head(15)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,QUANTITY (IN '000 Tonnes'),Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
0,Name of\nTPS,NaN,Installed Capacity\n(MW),Monthly\nAllocation\nfrom\nCIL/SCCL\n,NaN,Opening\nStocks,NaN,RECEIPT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Consumption,NaN,NaN,Closing\nStocks,NaN
1,1,NaN,2,3,NaN,4,NaN,5,NaN,6,...,11,NaN,NaN,12,NaN,13,14,15,16,NaN
2,Northern,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ANPARA C TPS,1200.0,NaN,348.5,NaN,88.503,NaN,494.745,NaN,0,...,NaN,NaN,141.964132,NaN,490.0869,NaN,0,490.0869,NaN,93.160
4,ANPARA TPS,2630.0,NaN,988.669983,NaN,930.03,NaN,817.05,NaN,0,...,NaN,NaN,82.641328,NaN,821.1520,NaN,0,821.152,NaN,925.930
5,BARKHERA TPS,90.0,NaN,32.5,NaN,42.6,NaN,34.91,NaN,0,...,NaN,NaN,107.415385,NaN,16.0100,NaN,0,16.01,NaN,61.220
6,CHHABRA-II TPP,1320.0,NaN,0,NaN,106.05,NaN,76.60254,NaN,0,...,NaN,NaN,NaN,NaN,405.2760,NaN,0,405.276,NaN,79.310
7,CHHABRA-I PH-1 TPP,500.0,NaN,192.669998,NaN,66.21,NaN,127.0453,NaN,0,...,NaN,NaN,65.939327,NaN,163.5940,NaN,0,163.594,NaN,29.660
8,CHHABRA-I PH-2 TPP,500.0,NaN,0,NaN,94.2,NaN,0.0582,NaN,0,...,NaN,NaN,NaN,NaN,143.7478,NaN,0,143.7478,NaN,133.440
9,DADRI (NCTPP),1820.0,NaN,667.5,NaN,263.83,NaN,479.3,NaN,0,...,NaN,NaN,96.184270,NaN,470.6850,NaN,145.867,616.552,NaN,271.934
10,GH TPS (LEH.MOH.),920.0,NaN,112.5,NaN,256.86,NaN,203.333,NaN,0,...,NaN,NaN,310.911111,NaN,204.5480,NaN,0,204.548,NaN,398.016
11,GOINDWAL SAHIB TPP,540.0,NaN,141.669998,NaN,58.38,NaN,139.017,NaN,0,...,NaN,NaN,98.127339,NaN,132.5810,NaN,0,132.581,NaN,64.820
12,HARDUAGANJ TPS,1265.0,NaN,204.25,NaN,318.42,NaN,241.017,NaN,0,...,NaN,NaN,118.000979,NaN,333.9604,NaN,0,333.9604,NaN,225.480
13,INDIRA GANDHI STPP,1500.0,NaN,468.580017,NaN,235.35,NaN,489.444,NaN,12.145,...,NaN,NaN,107.044471,NaN,480.9480,NaN,0,480.948,NaN,255.990
14,KALISINDH TPS,1200.0,NaN,0,NaN,220.42,NaN,7.90612,NaN,0,...,NaN,NaN,NaN,NaN,419.5510,NaN,0,419.551,NaN,193.060

In [ ]:
df21.drop(['Unnamed: 2','Unnamed: 4','Unnamed: 6','Unnamed: 8','Unnamed: 21',"QUANTITY (IN '000 Tonnes')"], axis=1, inplace=True)
df22.drop(['Unnamed: 2','Unnamed: 4','Unnamed: 6','Unnamed: 8','Unnamed: 21',"QUANTITY (IN '000 Tonnes')"], axis=1, inplace=True)
df23.drop(['Unnamed: 2','Unnamed: 4','Unnamed: 6','Unnamed: 8','Unnamed: 21',"QUANTITY (IN '000 Tonnes')"], axis=1, inplace=True)
df24.drop(['Unnamed: 2','Unnamed: 4','Unnamed: 6','Unnamed: 8','Unnamed: 21',"QUANTITY (IN '000 Tonnes')"], axis=1, inplace=True)
df25.drop(['Unnamed: 2','Unnamed: 4','Unnamed: 6','Unnamed: 8','Unnamed: 21',"QUANTITY (IN '000 Tonnes')"], axis=1, inplace=True)
df26.drop(['Unnamed: 2','Unnamed: 4','Unnamed: 6','Unnamed: 8','Unnamed: 21',"QUANTITY (IN '000 Tonnes')"], axis=1, inplace=True)
df27.drop(['Unnamed: 2','Unnamed: 4','Unnamed: 6','Unnamed: 8','Unnamed: 21',"QUANTITY (IN '000 Tonnes')"], axis=1, inplace=True)
df28.drop(['Unnamed: 2','Unnamed: 4','Unnamed: 6','Unnamed: 8','Unnamed: 21',"QUANTITY (IN '000 Tonnes')"], axis=1, inplace=True)
df29.drop(['Unnamed: 2','Unnamed: 4','Unnamed: 6','Unnamed: 8','Unnamed: 21',"QUANTITY (IN '000 Tonnes')"], axis=1, inplace=True)

In [ ]:
df21 = df21.rename(columns={"Unnamed: 1": "Installed Capacity (MW)"})
df21 = df21.rename(columns={"Unnamed: 5": "Opening Stocks"})
df21 = df21.rename(columns={"Unnamed: 7": "CIL"})
df21 = df21.rename(columns={"Unnamed: 9": "SCCL"})
df21 = df21.rename(columns={"Unnamed: 27": "Total Consumption"})
df21 = df21.rename(columns={"Unnamed: 11": "Total Production"})
df21 = df21.rename(columns={"Unnamed: 11": "Total Production"})

In [25]:
def find_header_row(df):
    for i in range(len(df)):
        if df.iloc[i].astype(str).str.contains("Name of TPS", case=False).any():
            return i
    raise ValueError("Header row not found")

In [26]:
def normalize_columns(df):
    df.columns = [
        unicodedata.normalize("NFKC", str(c))
        .replace("\n", " ")
        .replace("\xa0", " ")
        .strip()
        for c in df.columns
    ]
    return df

In [27]:
def is_real_plant(name):
    if pd.isna(name):
        return False

    name = str(name).strip().lower()

    bad_patterns = [
        r"^total",
        r"^northern",
        r"^southern",
        r"^eastern",
        r"^western",
        r"^central"
    ]

    return not any(re.match(p, name) for p in bad_patterns)

In [28]:
def standardize_plant_name(name):
    return (
        str(name)
        .lower()
        .strip()
        .replace("&", "and")
        .replace("-", " ")
        .replace(",", "")
    )

In [29]:
def process_monthly_file(file_path, year, month, reference_columns):
    # read raw
    raw = pd.read_excel(file_path, header=None)

    # detect header
    header_row = find_header_row(raw)

    # read table
    df = pd.read_excel(file_path, header=header_row)

    # normalize columns
    df = normalize_columns(df)

    # keep real plants
    df = df[df["Name of TPS"].apply(is_real_plant)]

    # numeric coercion
    for col in df.columns:
        if col != "Name of TPS":
            df[col] = pd.to_numeric(df[col], errors="coerce")

    # add time info
    df["Year"] = year
    df["Month"] = month

    # plant key
    df["plant_key"] = df["Name of TPS"].apply(standardize_plant_name)

    # align schema
    df = df.reindex(columns=reference_columns)

    # remove zero / NaN consumption
    if "Total Consumption" in df.columns:
        df = df[df["Total Consumption"] > 0]

    return df

In [30]:
monthly_files = [
    (r"C:\Users\Vedaditya\Desktop\Demand Forecasting\Monthly Coal data\monthCoal1-2024-Jan.xls", 2024, 1),
    (r"C:\Users\Vedaditya\Desktop\Demand Forecasting\Monthly Coal data\monthCoal1-2024-Feb.xls", 2024, 2),
    (r"C:\Users\Vedaditya\Desktop\Demand Forecasting\Monthly Coal data\monthCoal1-2024-Mar.xls", 2024, 3),
    (r"C:\Users\Vedaditya\Desktop\Demand Forecasting\Monthly Coal data\monthCoal1-2024-May.xls", 2024, 5),
    (r"C:\Users\Vedaditya\Desktop\Demand Forecasting\Monthly Coal data\monthCoal1-2024-Jun.xls", 2024, 6),
    (r"C:\Users\Vedaditya\Desktop\Demand Forecasting\Monthly Coal data\monthCoal1-2024-Jul.xls", 2024, 7),
    (r"C:\Users\Vedaditya\Desktop\Demand Forecasting\Monthly Coal data\monthCoal1-2024-Sep.xls", 2024, 9),
    (r"C:\Users\Vedaditya\Desktop\Demand Forecasting\Monthly Coal data\monthCoal1-2024-Oct.xls", 2024, 10),
    (r"C:\Users\Vedaditya\Desktop\Demand Forecasting\Monthly Coal data\monthCoal1-2024-Nov.xls", 2024, 11),
    (r"C:\Users\Vedaditya\Desktop\Demand Forecasting\Monthly Coal data\monthCoal1-2024-Dec.xls", 2024, 12),
]

for file, year, month in monthly_files:
    print(f"Processing {file}...")
    df_month = process_monthly_file(
        file_path=file,
        year=year,
        month=month,
        reference_columns=reference_columns
    )
    df_master = pd.concat([df_master, df_month], ignore_index=True)

Processing C:\Users\Vedaditya\Desktop\Demand Forecasting\Monthly Coal data\monthCoal1-2024-Jan.xls...

NameError: name 'reference_columns' is not defined